In [2]:
import pandas as pd
import scipy as sc
import numpy as np
import time
import statsmodels.formula.api as sm

import matplotlib.pyplot as plt 
plt.style.use('ggplot')
%matplotlib inline  
plt.rcParams['figure.figsize'] = (10, 6) 
from string import ascii_lowercase

In [3]:
career_pergame = pd.read_csv('career_pergame.csv',index_col=0)

In [4]:
career_advanced = pd.read_csv('career_advanced.csv',index_col=0)

In [5]:
career_per100 = pd.read_csv('career_per100.csv',index_col=0)

In [6]:
#rookie datasets
rookie_pergame = pd.read_csv('per_game.csv', index_col = 0)

In [7]:
rookie_advanced = pd.read_csv('rookie_advanced.csv', index_col = 0)

In [8]:
rookie_per100 = pd.read_csv('per_100.csv', index_col = 0)

In [9]:
awards = pd.read_csv('career_awards.csv',index_col=0)

In [10]:
draft_pick = pd.read_csv('draft_pick.csv',index_col=0)

In [11]:
rookie_awards = awards[['Name','link','ROY','All-Rookie Team']]

In [12]:
career_awards = awards[['Name','link','MVPs','All-Star Games','All-NBA Teams']]

In [13]:
rookie3 = rookie_pergame.merge(rookie_per100,on=['Name','link','Year','Age','Position','Games Played','Games Started'])
rookie2 = rookie3.merge(rookie_advanced, on=['Name','link','Year','Age','Position','Games Played'])
rookie1 = rookie2.merge(rookie_awards, on=['Name','link'])
rookie = rookie1.merge(draft_pick,on=['Name','link'])

In [14]:
young_players = rookie[rookie['Year'].isin(['2017-18','2016-17','2015-16','2014-15'])]
young_players = young_players[['Name','link']]

In [15]:
cols = [c for c in rookie.columns if c.lower()[:5] != 'blank']
rookie = rookie[cols]

In [16]:
rookie = rookie.drop(['Team_x','League_x','Team_y','League_y','TotalMin_x','TotalMin_y','Games Started','Team','League'],axis=1)

In [17]:
rookie = rookie.merge(young_players, on=['Name','link'], how='outer', indicator=True).query("_merge != 'both'").drop('_merge', axis=1).reset_index(drop=True)

In [18]:
persons_of_interest = rookie[['Name','link']]

In [19]:
career3 = career_pergame.merge(persons_of_interest, on=['Name','link'])
career2 = career3.merge(career_per100, on=['Name','link','Games Played'])
career1 = career2.merge(career_advanced, on=['Name','link','Games Played'])
career = career1.merge(career_awards, on=['Name','link'])

In [20]:
cols = [c for c in career.columns if c.lower()[:5] != 'blank']
career = career[cols]
career = career.drop(['Year_x','League_x','Games Started_x','Year_y','League_y','Games Started_y','TotalMin_x','TotalMin_y'],axis=1)

In [20]:
career.to_csv('career_v2.csv')
rookie.to_csv('rookie_v2.csv')

In [23]:
pd.options.display.max_columns = 12
career.head()

,Name,link,Games Played,MinPerGame,FGPerGame,FGAPerGame,...,DBPM,BPM,VORP,MVPs,All-Star Games,All-NBA Teams
0,Alaa Abdelnaby,abdelal01,256,12.5,2.4,4.8,...,-1.5,-4.8,-2.3,0,0,0
1,Mahmoud Abdul-Rauf,abdulma02,586,26.7,6.0,13.6,...,-3.0,-2.2,-0.7,0,0,0
2,Tariq Abdul-Wahad,abdulta01,236,20.4,3.1,7.3,...,-0.3,-3.2,-1.5,0,0,0
3,Shareef Abdur-Rahim,abdursh01,830,34.8,6.5,13.9,...,-0.2,0.9,21.1,0,1,0
4,Tom Abernethy,abernto01,319,17.0,2.3,4.6,...,0.2,-0.2,2.5,0,0,0

In [24]:
rookie.head()

,Name,link,Year,Age,Position,Games Played,...,DBPM,BPM,VORP,ROY,All-Rookie Team,Draft_Pick
0,Alaa Abdelnaby,abdelal01,1990-91,22,PF,43,...,-0.7,-5.0,-0.2,0,0,25.0
1,Mahmoud Abdul-Rauf,abdulma02,1990-91,21,PG,67,...,-4.4,-6.1,-1.6,0,1,3.0
2,Tariq Abdul-Wahad,abdulta01,1997-98,23,SG,59,...,-1.7,-5.9,-0.9,0,0,11.0
3,Shareef Abdur-Rahim,abdursh01,1996-97,20,PF,80,...,-1.2,-2.0,0.0,0,1,3.0
4,Tom Abernethy,abernto01,1976-77,22,SF,70,...,0.3,-0.4,0.5,0,0,43.0